@using CoolPrivilegeControlVM.EntityVM
@using CoolPrivilegeControlLangPack
@using UI_Infrastructure.CustomHtmlHelper

@model LoginUserVM

@{
    ViewBag.Title = Html.MultilingualHtml("LoginScreenTitle");
    Layout = "~/Areas/AccessControl/Views/Shared/_LoginLayout.cshtml";
}


<div class="row center-block" style="text-align:center;background-color: black; height:5px; margin-top:3px;">
    <img src="~/Content/imgs/_blank.bmp" style="height:0px;  width:0px;display:none;" />
</div>

<div class="row center-block" style="text-align:center; background-color: rgb(22, 51, 97);">
    <span style="color:#FFF;">Cool Privilege Control System</span>
</div>
<div class="row center-block" style="margin-top:15px;">
    @using (Html.BeginForm("Index", "Login", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-xs-12 col-md-12">
            <div class="form-group has-feedback has-feedback-left">
                <label class="control-label col-xs-12 col-sm-3 col-sm-offset-1">@Html.MultilingualHtml("LoginName")</label>
                <div class="col-xs-12 col-sm-6">
                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control input-md", @placeholder = Html.MultilingualHtml("LoginName") })
                    <i class="form-control-feedback glyphicon glyphicon-user "></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label class="control-label col-xs-12 col-sm-3 col-sm-offset-1">@Html.MultilingualHtml("LoginPwd")</label>
                <div class="col-xs-12 col-sm-6">
                    @Html.PasswordFor(model => model.LoginPwd, new { @class = "form-control input-md", @placeholder = Html.MultilingualHtml("LoginPwd") })
                    <i class="form-control-feedback glyphicon glyphicon-asterisk "></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <label class="control-label col-xs-12 col-sm-3 col-sm-offset-1">@Html.MultilingualHtml("Language")</label>
                <div class="col-xs-12 col-sm-6">
                    @Html.DropDownList("LangsID", (SelectList)ViewBag.Langs, new { @class = "form-control", onchange = "document.location.href = '/AccessControl/Login?str_Language=' + this.options[this.selectedIndex].value;" })
                </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <div class="col-xs-3 col-xs-offset-4 col-sm-3 col-sm-offset-4">
                    <i class="form-control-feedback glyphicon glyphicon-log-in white"></i>
                    <input type="submit" class="btn btn-primary" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.MultilingualHtml("Login")" />
                </div>

                <div class="col-xs-2 col-md-2">
                </div>
            </div>
        </div>
    }
</div>
<div class="row center-block" style="text-align:center;background-color: black; height:5px;">
    <img src="~/Content/imgs/_blank.bmp" style="height:0px; width:0px; display:none;" />
</div>
<div class="row center-block" style="text-align:center;">
    <span style=" color:red;">
        This site is best viewed at 1920 x 1080 resolution.
    </span>
</div>

<div class="row center-block" style="width:320px; text-align:left;text-shadow:0px 0px 3px #585858; color:#003;list-style-position: outside;">
    For testing:
</div>

<div class="row center-block" style="width:320px;">
    <div class="col-xs-6 col-md-6 col-xs-6" style="text-shadow:0px 0px 3px #585858; color:#f00;list-style-position: outside;">
        Login Name:
    </div>
    <div class="col-xs-6 col-md-6 col-xs-6" style="text-shadow: 0px 0px 3px #585858; color:green;list-style-position: outside;text-align:left;">
        admin
    </div>
</div>
<div class="row center-block" style="width:320px;">
    <div class="col-xs-6 col-md-6 col-xs-6" style="text-shadow:0px 0px 3px #585858; color:#f00;list-style-position: outside;">
        Password:
    </div>
    <div class="col-xs-6 col-md-6 col-xs-6" style="text-shadow: 0px 0px 3px #585858; color:green;list-style-position: outside;text-align:left;">
        123456
    </div>
</div>
<p class="row center-block" style="text-align: center;">
    <a style="font-weight: bold;" href="http://www.wellscom.net/Download/CoolAccessControlSpec.zip">Download This System</a>
</p>
<div class="row center-block" style="text-align:center;">
    <div class="col-xs-12 col-md-4">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="P6C6VGJBJUFXJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <div class="col-xs-12 col-md-8" style="text-shadow:0px 0px 3px #585858; color:#003;list-style-position: outside; padding-top:3px;">
        Click "Donate" button and support Cool Privilege Control system. Your donation will encourage us to continue development. Thanks.
    </div>
</div>
