@using CoolPrivilegeControlVM.EntityVM
@using CoolPrivilegeControlLangPack
@using UI_Infrastructure.CustomHtmlHelper


@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Areas/AccessControl/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("Reset", "Login", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <div class="form-group required">
                <div class="form-group has-feedback has-feedback-left">
                    <label class="control-label col-md-3">@Html.MultilingualHtml("OriPwd")</label>
                    <div class="col-md-4">
                        @Html.Password("OriPwd", null, new { @class = "form-control input-md", @placeholder = Html.MultilingualHtml("OriPwd") })
                        <i class="form-control-feedback glyphicon glyphicon-asterisk "></i>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label class="control-label col-md-3">@Html.MultilingualHtml("NewPwd")</label>
                    <div class="col-md-4">
                        @Html.Password("NewPwd", null, new { @class = "form-control input-md", @placeholder = Html.MultilingualHtml("NewPwd") })
                        <i class="form-control-feedback glyphicon glyphicon-asterisk "></i>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label class="control-label col-md-3">@Html.MultilingualHtml("ConfirmNewPwd")</label>
                    <div class="col-md-4">
                        @Html.Password("ConfirmNewPwd", null, new { @class = "form-control input-md", @placeholder = Html.MultilingualHtml("ConfirmNewPwd") })
                        <i class="form-control-feedback glyphicon glyphicon-asterisk "></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2 col-md-offset-4">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>
}