@using CoolPrivilegeControlVM.EntityVM
@using CoolPrivilegeControlLangPack
@using UI_Infrastructure.CustomHtmlHelper

@model List<AuthorizedHistoryVM>
@{
    ViewBag.Title = @Html.MultilingualHtml("AuthorizedHistoryManage");
    Layout = "~/Areas/AccessControl/Views/Shared/_Layout.cshtml";
}

@{
    PagingInfo PagingInfoModel = null;

    if (ViewBag.PagingInfoModel != null)
    {
        PagingInfoModel = (PagingInfo)ViewBag.PagingInfoModel;
    }
    int preCount = 0;

    string sortName = "";
    string sortDir = "";

    if (HttpContext.Current.Request.QueryString.AllKeys.Contains("sort"))
    {
        sortName = HttpContext.Current.Request.QueryString["sort"];
    }

    if (HttpContext.Current.Request.QueryString.AllKeys.Contains("sortDir"))
    {
        sortDir = HttpContext.Current.Request.QueryString["sortDir"];
    }
}



<fieldset>
    <legend>
        <h5>@Html.MultilingualHtml("SearchCriteria")</h5>
    </legend>
    @using (Html.BeginForm("Index", "AuthorizedHistoryManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        AuthorizedHistoryVM selectionCriteria = new AuthorizedHistoryVM();
        if (ViewBag.SelectionCriteria != null)
        {
            selectionCriteria = (AuthorizedHistoryVM)ViewBag.SelectionCriteria;
        }
        <div class="form-group">
            <label class="control-label col-md-2" style=" text-align:left;" for="FunctionType">@Html.MultilingualHtml("LoginName")</label>
            <div class="col-md-4">
                @Html.TextBox("LoginName", selectionCriteria.LoginName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style=" text-align:left;" for="FunctionType">@Html.MultilingualHtml("OperationType")</label>
            <div class="col-md-4">
                @Html.DropDownList("OperationType", (SelectList)ViewBag.OperationTypeList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="@Html.MultilingualHtml("Search")" class="btn btn-default" onclick="OpenLoadingDialog()">
            </div>
        </div>
    }
</fieldset>
@Html.Raw(Html.CPaging("Index", "AuthorizedHistoryManage", PagingInfoModel, "AccessControl", sortName, sortDir))

<div class="row col-md-12">
    &nbsp;
</div>
<div class="row col-md-12">
    <div class="table-responsive">
        <table class="table table-striped fa-border table-hover" contenteditable="false">
            <thead>
                <tr>
                    <th>#</th>
                    <th align="center" style="text-align:center;" onclick='javascript: sort(this, "LoginName")' id="LoginNameTH">@Html.MultilingualHtml("LoginName")</th>
                    <th align="center" style="text-align:center;" onclick='javascript: sort(this, "OperationTypeName")' id="OperationTypeNameTH">@Html.MultilingualHtml("OperationType")</th>
                    <th align="center" style="text-align:center;" onclick='javascript: sort(this, "OperationDatetime")' id="OperationDatetimeTH">@Html.MultilingualHtml("Datetime")</th>
                    <th colspan="1" align="center" style="text-align:center;">@Html.MultilingualHtml("Operation")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; ++i)
                    {
                        var deleteURL = Url.Action("Delete", "AuthorizedHistoryManage", new { area = "AccessControl", guid = Model[i].ID });
                        var detailsURL = Url.Action("Edit", "AuthorizedHistoryManage", new { area = "AccessControl", guid = Model[i].ID });
                        var data = Html.Raw("{ID:\"" + @Model[i].ID + "\"}");
                        <tr>
                            <td class="vert-align" width="50px">@Convert.ToInt32(i + 1 + preCount)</td>
                            <td align="center" class="vert-align">@Model[i].LoginName</td>
                            <td align="center" class="vert-align">@Model[i].OperationTypeName</td>
                            <td align="center" class="vert-align">@(Model[i].OperationDatetime.HasValue ? Model[i].OperationDatetime.Value.ToString(((SystemInfoVM)CoolPrivilegeControlVM.CommonVM.StaticContent.SystemInfoInst).DateFormat + " " + ((SystemInfoVM)CoolPrivilegeControlVM.CommonVM.StaticContent.SystemInfoInst).TimeFormat) : "")</td>

                            @if (Html.CheckAccPrivilege(ViewContext.Controller, Context, "AuthorizedHistoryManage", "Delete"))
                            {
                                <td align="center" width="90px" class="vert-align"><a class="btn btn-danger" href='javascript:InvokeDeleteFunction_ByAjax(@data,"@deleteURL","@detailsURL");'><i class="fa fa-trash-o fa-fw"></i> @Html.MultilingualHtml("Delete")</a></td>
                            }
                            else
                            {
                                <td align="center" width="90px" class="vert-align"><a class="btn btn-danger disabled" href='#'><i class="fa fa-trash-o fa-fw"></i> @Html.MultilingualHtml("Delete")</a></td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Raw(Html.CPaging("Index", "AuthorizedHistoryManage", PagingInfoModel, "AccessControl", sortName, sortDir))

<form id="__AjaxAntiForgeryForm" action="#" method="post">
    @Html.AntiForgeryToken()
</form>
<script>
    $(document).ready(function () {
        findSortingTh("OperationDatetimeTH", "desc");
    });
</script>
