@using CoolPrivilegeControlVM.EntityVM
@using CoolPrivilegeControlLangPack
@using UI_Infrastructure.CustomHtmlHelper

@model CoolPrivilegeControlVM.EntityVM.FunctionTypeVM
@{
    ViewBag.Title = @Html.MultilingualHtml("FTManage_Create");
    Layout = "~/Areas/AccessControl/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "FTManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group required">
                <label class="control-label col-md-4">@Html.MultilingualHtml("FunctionType")</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FunctionType, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <input type="submit" value="@Html.MultilingualHtml("Save")" class="btn btn-primary" onclick="OpenLoadingDialog()">
        </div>

        <div class="col-md-1">
            <a href="@Url.Action("Index", "FTManage", null)" class="btn btn-default" role="button">@Html.MultilingualHtml("BacktoList")</a>
        </div>
    </div>
}